@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Jost", serif;
    line-height: 1;
    color: #2d2d2d;
}

p {
    font-weight: 500;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #d6a4a4;
}

body::-webkit-scrollbar-thumb {
    background-color: #dae2f8;
}

a {
    text-decoration: none;
}

input {
    outline: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: #ffffff;
}

footer {
    flex: 0 0 auto;
}

/*@media (width <=376px) {
    #root {
        padding-top: 140px;
        min-height: calc(100dvh - 140px);
    }
}*/